<!doctype html>
<html lang="en">

<head>
    <title>옷찾사</title>
    <link href="static\css\index.css" rel="stylesheet">
</head>

<body>
    <main>
        <div>
            <div class="text-5Dy" id="42:2204">AI fASHION<br />STYLE</div>
            <div class="text-yKM" id="42:2232">
                15가지의 스타일 정보
                <br>유사한 쇼핑몰 정보와 코디네이션 제공
            </div>
        </div>
        <div class="landing-img-container">
            <img class="home-image" src="static\img\home.jpg" alt="Home Image">
        </div>
    </main>



    <div class="button_class">
        <button class="my-button" onclick="location.href='/select'">
            START
        </button>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-title">옷찾사</div>
            <div class="footer-copyright">Copyright &copy; 2023. otchatsa, All rights reserved</div>
            <div class="footer-desc">옷찾사는 여성 의류를 ResNet 모델 기반으로 검색 이미지와 유사한 스타일과 여성 의류 쇼핑몰 정보를 제공하는 서비스입니다</div>
        </div>
        <div class="footer-url">
            <a class="footer-github" target="blank" href="https://github.com/fkrdnjs/kdata_fashion.git">
                <img alt="github LOGO" src="static\img\githubLogo.png">
            </a>
        </div>
    </footer>


</body>

</html>